$primary-color:  #e8aa9b;
$secondary-color: #769abe;
$third-color: #dcd5dc;
$fourth-color: #e46f44;
$fifth-color: #1a385a; 
$font-cursive: 'Dancing Script', cursive;
$font-normal: 'Nunito', sans-serif;


:root {
    --form-background: rgb(196, 186, 186);
  }


  $b: "border";
