@import 'config';


@mixin navbars
{
    nav
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $fourth-color;
        font:
        {
             size: 20px;
             family: $font-normal;

        }

        margin-bottom: 5%;
       
    }
 
    ul
     {
            display: flex;
            list-style-type: none;
            
 
 
 
     }
 
 
     li
     {
              padding: 15px;
              
 
     }

     a
     {

          text-decoration: none;
        

     } 


     a:hover
       {

             color: $fourth-color;


       }

       a:visited
         {

              color: $fourth-color;

         }

     .logo
       {

              font:
               {

                 family: $font-cursive;
                 size: 40px;
               
                }
              

       }


       



}


%toggle-switch
{
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;


}
