@import 'config';
@import 'functions';


*{

    box-sizing: #{$b}-box;
    margin: 0;
    padding: 0;
}

.grid
{

  display: grid;
  grid-template-columns:  2fr 2fr; //repeat(auto-fill, minmax(100px, 1fr));;
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  margin: auto;
  float: left;
  font-size: xx-large;
  .place
   {
         text-align: center;
         font-family: $font-fancy;
         font-size: 50px;
   }

  .book
  {
     font-family: $font-fancy;
     margin-left: 10%;
     margin-right: 10%;
  }

  margin-bottom: 5%;

}

.grid img {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  //grid-column: span 5;
}



.heading
{
    
    @include navbars;
  


}

body
{
  background-color: $third-color;
  color: $fifth-color;


}

img
{
  border-radius: 5%;

}

#dark-mode
{
   
   margin-bottom: 3%;
   display: inline-block;

}


#text-dm
{

    font-size: large;
    font-family: $font-normal;
    
    margin-top: 50%;



}



    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
       
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {

        @extend %toggle-switch;

        /*
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        */
        
      }
      
      input:checked + .slider {
        background-color: black;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px black;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }







